.featured{
    height:90vh;
    position:relative;
}
.war{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info{
    width: 40vh;
    position: absolute;
    left:100px;
    bottom: 100px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
.bg{
    height:100px;
    width:35vh;
    border-radius: 2px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    margin-top: 10px;
    
}
.play{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px ;
    border-radius: 10px;
    border: none;
}
.more{
    display: flex;
    align-items: center;
    padding: 5px ;
    background-color: rgb(172, 162, 109);
    border: none;
    border-radius: 10px;
}
.desc{
    width:40vh;
    /* margin-bottom: 10px; */
    
}
.category>span{
    font-size: 20px;
    
}
.category{
    position: absolute;
    left: 200px;
    top:70px;
    border:none;
}
select{
    padding: 2px;
    border: none;
    cursor: pointer;
    
}
.playinfo{
    margin-left:5px;
}